@use "../abstracts" as abs;
@use "../base/" as b;

.menu-overlay {
  position: relative;
  z-index: 3;
  margin: abs.$spacing-128 auto abs.$spacing-16;

  max-width: 330px;

  @include abs.breakpoint(tablets) {
    max-width: 630px;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    flex-direction: column;

    gap: abs.$spacing-24;
  }
  &__item {
  }
  &__link {
    text-decoration: none;
    color: abs.$white;
    text-transform: uppercase;
    font-size: b.$font-size-24;
    font-family: "Josefin sans", sans-serif;
    font-weight: 300;
  }
}
